<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1>Simple Authentication App</h1>
        <p>Secret page is only available to registered users!</p>
    </div>
</div>

<%- include("partials/footer") %>