<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" crossorigin="anonymous" />
    <title>YelpCamp</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item"><a href="/campgrounds" class="nav-link">Home</a></li> -->
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item"><a href="/" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="/" class="nav-link">Sign Up</a></li>
                <li class="nav-item"><a href="/" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </nav>